.borderText {
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #cccc;
}

.borderTextDark {
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 0 rgb(43, 43, 43), -1px -1px 0 rgb(43, 43, 43), 1px -1px 0 rgb(43, 43, 43), -1px 1px 0 rgb(43, 43, 43);
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  z-index: 800;
  pointer-events: none;
  background: transparent url("/background.png") repeat 0 0;
  background-repeat: repeat;
  visibility: visible;
}

@font-face {
  font-family: "main";
  src: url("./fonts/Aeonik-Regular.woff") format("woff");
}
@font-face {
  font-family: "mainBold";
  src: url("./fonts/Aeonik-Medium.woff") format("woff");
}
@font-face {
  font-family: "main2";
  src: url("./fonts/font2.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply m-0 p-0 box-border font-main2;
  }
  body {
    @apply bg-white1 dark:bg-black1 overflow-x-hidden;
  }
  h1,
  h2,
  h3,
  h4,
  p,
  a,
  label {
    @apply text-black dark:text-white;
  }
  h1 {
    @apply text-4xl lg:text-6xl 2xl:text-7xl font-mainBold;
  }
  h2 {
    @apply text-2xl sm:text-4xl lg:text-5xl 2xl:text-6xl;
  }
  h3 {
    @apply text-lg md:text-xl 2xl:text-2xl;
  }
  h4 {
    @apply text-3xl lg:text-5xl 2xl:text-6xl font-mainBold;
  }
  h5 {
    @apply text-2xl sm:text-4xl 2xl:text-4xl font-mainBold;
  }
  .textGradient {
    @apply font-main gradient1 dark:gradient1;
  }
  ::-webkit-scrollbar {
    @apply w-[10px];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray3 dark:bg-gray4 rounded-full;
  }
  .globalMargins {
    @apply px-5 md:px-10 2xl:px-0;
  }
  .globalMarginsSlug {
    @apply px-5 md:px-10 xl:px-20;
  }
  .globalSpacing {
    @apply my-10 xl:my-20;
  }
  .gradientBg1 {
    @apply bg-gradient-to-r from-[#9D51E1] via-[#9B63A4] to-[#B86C7D];
  }
  .gradient1 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#9D51E1] via-[#9B63A4] to-[#B86C7D];
  }
  .box1 {
    @apply rounded-md bg-gray5 dark:bg-black2 border border-gray3 dark:border-gray2;
  }
  input,
  textarea {
    @apply bg-transparent focus:outline-none dark:text-white text-black;
  }
  textarea {
    @apply resize-none;
  }
  canvas {
    @apply w-full h-full;
  }
  .bg-opacity {
    @apply opacity-50 dark:opacity-30;
  }
}
