.borderText {
  letter-spacing: 0.2rem;
  color: rgb(20 20 20);
  text-shadow: 1px 0 0 #e8e8e8, -1px 0 0 #e8e8e8, 0 1px 0 #e8e8e8,
    0 -1px 0 #e8e8e8, 1px 1px #e8e8e8, -1px -1px 0 #e8e8e8, 1px -1px 0 #e8e8e8,
    -1px 1px 0 #e8e8e8;
}
.borderTextDark {
  letter-spacing: 0.2rem;
  color: rgb(229 231 235);
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.borderTextDark:hover {
  color: #000;
  -webkit-transition-duration: 1000ms;
}
.borderText:hover {
  color: #e8e8e8;
  -webkit-transition-duration: 1000ms;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  z-index: 800;
  pointer-events: none;
  background: transparent
    url("/background.png") repeat 0 0;
  background-repeat: repeat;
  opacity: 0.35;
  visibility: visible;
}

@font-face {
  font-family: "main";
  src: url("./fonts/Aeonik-Regular.woff") format("woff");
}
@font-face {
  font-family: "mainBold";
  src: url("./fonts/Aeonik-Medium.woff") format("woff");
}
@font-face {
  font-family: "main2";
  src: url("./fonts/font2.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply m-0 p-0 box-border font-main2;
  }
  body {
    @apply bg-gray-200 dark:bg-black1 min-h-screen overflow-x-hidden;
  }
  h2,
  h3,
  h4,
  p,
  a {
    @apply text-black dark:text-white;
  }
  h1 {
    @apply text-2xl sm:text-4xl lg:text-6xl font-mainBold text-black dark:text-white;
  }
  h2 {
    @apply text-lg md:text-xl text-black dark:text-white;
  }
  body::-webkit-scrollbar {
    @apply w-[10px];
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full;
  }
  .gradient1 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#9D51E1] via-[#9B63A4] to-[#B86C7D];
  }
  .border1 {
    @apply bg-gray5 dark:bg-black2 border border-gray3 dark:border-gray1;
  }
}
